# pip install <package>



shutil
hashlib
platform
time
warnings
pytz
torch
requests
numpy
cv2
logging
sys
math
tempfile
traceback
collections
datetime
sklearn
langchain_community
langchain_text_splitter
langchain_community.vectorstores
langchain_huggingface
langchain_ollama
flask
flask_cors
pycountry
faiss-cpu  # Use faiss-gpu if CUDA is available
